.title {
    text-align: center;
    border: thick solid navy;
    border-radius: 50%;
    width: 400px;
    margin: auto;
    height: 50px;
}
div.inline-block {
     display: inline-block;
     vertical-align: top;
     margin: 15px;
}
ul.menu {
    list-style-type: none;
    padding: 0;
}
li.menu-item {
    text-align: center;
    margin: 0px 0px 30px 0px;
}
li.menu-item:hover, a:hover, input:hover, select:hover {
    background-color: lightgray;
}
a {
    display: inline-block;
}
.tableList {
    border-collapse: collapse;
}
td {
    padding: 5px 15px 5px 15px;
}
input, select {
    width: 100%;
    border-radius: 5px;
}
table.bordered td {
    padding: 5px 15px 5px 15px;
    border: 1px solid navy;
}
td.number, th.right {
    text-align: right;
}
